body {
  font-size: 14pt;
  color: white;
}

#body {
  background-image: url(../img/5.jpg);
}

select#size, select#crust {
  width: 50%;
}

.output {
  display: none;
}

#heading {
  background-image: url(../img/img.jpg);
  margin-bottom: 5%;
  margin-top: 5%;
}

#message {
  margin-left: 5%;
}

h1 {
  height: 300px;
  font-weight: 600;
  font-size: 50pt;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 94px;

}

h2 {
  margin-left: 5%;
  text-transform: uppercase;
}

h3, button {
  margin-left: 10%;
}

h4 {
  font-size: larger;
}

label, button, h2, h3, #outputPart1 {
  margin-top: 5%;
}

footer {
  font-size: 1.1em;
  margin-top: 10%;
  padding: 20px 50px;
  color: white;
  border-radius: 5px;
}
 footer li {
   display: inline;
   margin: 0 80px;
   color: white;
 }
